---
import { commentConfig } from "@/config";
import Twikoo from "./Twikoo.astro";

interface Props {
	post: any;
}

const { id, data, slug } = Astro.props.post || {};
// 优先使用customSlug，如果没有则使用默认的slug
const finalSlug = data?.customSlug || slug;
const path = finalSlug ? `/posts/${finalSlug}` : Astro.url.pathname;
console.log("Comment组件初始化");

let commentService = "";
if (commentConfig?.twikoo) {
	commentService = "twikoo";
}
---
<div class="card-base p-6 mb-4 mt-4">
  {commentService === 'twikoo' && <Twikoo path={path} />}
  {commentService === '' && null}
</div>