---
import { commentConfig } from '@/config'
import Twikoo from './Twikoo.astro'
interface Props {
  post: any
}

const { id, data, slug } = Astro.props.post || {}
// 确保slug存在，并且路径格式正确
const path = slug ? `/posts/${slug}` : Astro.url.pathname
console.log('Comment组件初始化')

let commentService = ''
if (commentConfig?.twikoo) {
  commentService = 'twikoo'
}
---
<div class="card-base p-6 mb-4">
  {commentService === 'twikoo' && <Twikoo path={path} />}
  {commentService === '' && null}
</div> 