---
import { commentConfig } from "@/config";
import Twikoo from "./Twikoo.astro";
import Artalk from "./Artalk.astro";

interface Props {
	post: any;
}

const { id, data, slug } = Astro.props.post || {};
// 优先使用customSlug，如果没有则使用默认的slug
const finalSlug = data?.customSlug || slug;
const path = finalSlug ? `/posts/${finalSlug}` : Astro.url.pathname;
console.log("Comment组件初始化");

// 检查评论系统是否启用以及使用哪种类型
const isCommentEnabled = commentConfig?.enable;
const commentService = isCommentEnabled ? commentConfig?.type : '';
---
{isCommentEnabled && (
<div class="card-base p-6 mb-4 mt-4">
  {commentService === 'twikoo' && <Twikoo path={path} />}
  {commentService === 'artalk' && <Artalk path={path} />}
</div>
)}